body {
    font-family: arial;
}
main {
    margin-top: 100px;
}
header {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    background: white;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
header a {
    padding-right: 40px;
    font-size: 20px;
}
.nav {
    margin-top: 55px;
}
#header-img {
    max-height: 100px;
    margin-left: 20px;
}
h1, #sub-header {
    text-align: center;
}
h1 {
    padding-top: 20px;
}
@media (max-width: 500px) {
  header {
    position: static;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    text-align: center;
}
header a {
    padding-right: 0px;
    font-size: 15px;
}
#header-img {
    margin-left: 0px;
}
.nav {
    margin-top: 5px;
}
#nav-bar {
    display: flex;
    flex-direction: column;
}
main {
    margin-top: 0px;
}
}
form {
  display: flex;
  align-items: center;  
  flex-direction: column;
}
#email {
  min-width: 50px;
}
#submit {
  margin-bottom: 20px;
}
#video {
  display: block;
  margin: auto;
}
p {
  text-align: center;
}